<%= form_for(feedback) do |f| %>
  <div>
    <%= f.text_area :general, rows: 10, cols: 48, class: "feedback_general", placeholder: 'We Love detailed feedback!                                                           - Hint: Leave new feedback for each slide' %>
  </div>
  <div>
    <%= f.text_field :email, class: "feedback_general", placeholder: 'Email' %>
  </div>
  <%= f.hidden_field :url, value: request.original_url %>
  <div class="center">
    <%= f.submit "Submit", class: "button" %>
  </div>
<% end %>
