<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>  
	  <%= stylesheet_link_tag "application", media: "all" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>	
	</head>
	<body>
	<%= javascript_include_tag "application" %>
	<%= render 'layouts/feedback' %>
	<%= render 'layouts/header' %>
	  <div class="container">
			<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div id="<%= params[:controller].parameterize %>_controller">
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
			<%= render 'layouts/modal' %>
  	</div>
	</body>
</html>
